@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(night-building.jpg);
  background-position: center;
  /* 스크롤을 해도 이미지의 위치는 변하지 않음 */
  background-attachment: fixed;
  /* 이미지의 사이즈를 화면 크기에 맞춰 빈틈없이 채워줌 이미지의 크기보다 뷰가 작을 경우는 가로든 세로든 잘라서 처리*/
  background-size: cover;
  overflow: hidden;
}

section h2 {
  font-size: 5em;
  color: #ffffff;
  /* pointer-events는 글씨에 올렸을때 커서가 바뀌는것을 어떻게 처리할지 정해주는 것 */
  pointer-events: none;
}

section .glass {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 300px;
  height: 200px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);
  transition: 0.2s;
}
